// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import url("https://unpkg.com/element-ui/lib/theme-default/index.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
  visibility: visible !important;
}