// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import url("https://unpkg.com/element-ui/lib/theme-default/index.css");
// materializecss
//@import "~materialize-css/sass/materialize.scss";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../vendor/admin-lte/css/AdminLTE.css";
@import "../vendor/admin-lte/css/skins/skin-blue.css";
@import "~font-awesome/scss/font-awesome.scss";
@import "~ionicons/dist/scss/ionicons.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  visibility: visible !important;
}

#app {
  min-height: 100%;
}

.logo {
  background-image: url('../images/default_logo_large.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  b {
    display: none;
  }
}

.login-page {
  background-image: url('../images/bgimage.jpg');
  background-size: 100% 100%;
  .login-logo {
    color: white;
  }
  .login-logo-img {
    height: 50px;
    width: 100%;
    background: url("../images/default_logo_large.png") no-repeat center center;
    background-size: auto 50px;
  }
}

body.sidebar-collapse {
  .logo {
    background-image: url('../images/default_logo.png');
    background-size: auto;
    background-repeat: no-repeat;
    width: 50px;
    b {
      display: none;
    }
  }
  .main-header {
    nav[role="navigation"] {
      margin-left: 50px;
    }
  }
}

.main-header {
  .sidebar-toggle {
    height: 50px;
  }
  .sidebar-toggle:hover, .sidebar-toggle:focus {
    text-decoration: none;
  }
}

.sidebar-menu {
  a:focus {
    text-decoration: none;
  }
}

.admin-list-page {
  .content {
    .search {
      margin-top: 1em;
    }
  }
}

.admin-editor-page {
}

.page-enter-active, .page-leave-active {
  transition: opacity .3s ease;
}

.page-enter, .page-leave-to /* .fade-leave-active in <2.1.8 */
{
  opacity: 0;
}