// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import url("../vendor/element-ui/index.scss");
// materializecss
@import "~materialize-css/sass/materialize.scss";
@import "~font-awesome/scss/font-awesome.scss";
@import "~ionicons/dist/scss/ionicons.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
