<base-form-dialog creatingTitle="新建角色" editingTitle="编辑角色">
    <template scope="props" slot="fields">
        <div class="form-group" :class="{'has-error': props.item.$errors.has('name')}">
            <label for="name" class="col-sm-2 control-label">角色名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" v-model="props.item.name">
                <span class="help-block"
                      v-if="props.item.$errors.has('name')">{{props.item.$errors.get('name')}}</span>
            </div>
        </div>
        <div class="form-group" :class="{'has-error': props.item.$errors.has('permissions')}">
            <label for="permissions" class="col-sm-2 control-label">权限</label>
            <div class="col-sm-10">
                <select2 class="form-control select2" id="permissions" multiple="multiple"
                         data-tags="true" data-placeholder="选择权限" style="width: 100%;"
                         v-model="props.item.permissions" :options="permissions">
                </select2>
                <span class="help-block"
                      v-if="props.item.$errors.has('permissions')">{{props.item.$errors.get('permissions')}}</span>
            </div>
        </div>
    </template>
</base-form-dialog>
